<nav class="navbar bill_my_code" data-bs-theme="dark">
  <div class="logo-container">
    <img
      class="bmcLogo"
      src="assets/images/billmycodelogo.png"
      alt="logo de empresa"
    />
  </div>
  <div>
    <!-- <div
      th:if="${exito != null}"
      id="successCard"
      class="borrarcarta card text-white bg-success mensajeExito"
    >
      <div class="card-body">
        <h5 class="card-title">Éxito!</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div> -->
  </div>
  <nav class="header-nav centrar">
    <a th:href="@{/thymeleaf/getViewNeI}" class="titulo subrayado-nei"
      >Normativas e impuestos</a
    >
    <a class="titulo" href="#seccion-2">Sobre la Empresa</a>
    <a class="titulo" href="#seccion-3">Normativa</a>
    <a class="titulo" href="#seccion-4">Impuestos</a>
    <a class="titulo" href="#seccion-5">Registrate</a>
    <a class="titulo" href="#seccion-6">Experiencias</a>
    <a class="titulo" href="#seccion-7">Contactanos</a>
  </nav>
</nav>
