<dolar>
    <nav class="navbar justify-content-center mb-0" data-bs-theme="dark">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dolar Blue ↗ $487,00 / $498,00</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dolar Oficial = $245,00 / 248.00</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dolar Tecno ↗ $490,00 / $495,00</a>
            </li>

        </ul>
    </nav>
</dolar>