<navbar>
  <nav class="navbar bill_my_code" data-bs-theme="dark">
    <div class="logo-container">
      <a th:href="@{/thymeleaf/principal-accountant}">
        <img class="bmcLogo" src="/images/billmycodelogo.png" alt="logo de empresa">
      </a>
    </div>
    <nav class="header-nav centrar">
      <!-- <a class="titulo" href="#seccion-2">Sobre la Empresa</a>
      <a class="titulo" href="#seccion-3">Normativa</a>
      <a class="titulo" href="#seccion-4">Impuestos</a>
      <a class="titulo" href="#seccion-5">Contactanos</a> -->
      <div class="perfil-menu">
        <div class="perfil-menu">
          <div class="containers me-3" >
            <div class="nombres">
              <span class="nombre" th:text="${accountant.nombre}">Raúl</span>
              <span class="apellido" th:text="${accountant.apellido}">Gómez</span>
            </div>
            <div class="formacion">
              <span class="especialidad" th:text="${accountant.especializacion}">Full Stack</span>
            </div>
          </div>
          <img
                  class="perfil-foto"
                  th:src="@{/api/imagen/perfil-accountant/__${accountant.id}__}"
                  alt="foto de perfil"
          />
          <div class="dropdown">
            <button class="dropdown-button">
              <!-- <img
                       class="icono"
                       src="/images/billmycodelogosimp.png"
                       alt="icono menu"
               />-->
              <div>Menu</div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/thymeleaf/accountant/edit/{id}">
                  <!--
                                                  <input type="hidden" name="id" th:value="${developer.id}"/>
                  -->
                  <img
                          class="icono"
                          src="/images/update.png"
                          alt="icono volver"
                  />
                  Editar Perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/logout}">
                  <img
                          class="icono"
                          src="/images/logout.png"
                          alt="icono logout"
                  />
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>
</navbar>