* {
  margin: 0px;
  padding: 0;
  text-align: center !important;
}
body {
  font-family: monospace;
  color: rgb(255, 255, 255);
  background-color: #1f2430;
}

/*INICIO DE LAS CARD*/

.container__card {
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 20px;
  margin: 5px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  position: relative;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  transition: all 300ms;
  border-radius: 20px;
}

.card:hover {
  /*box-shadow: 1px 1px 20px -10px #20202049;*/
}

.card:hover .info__description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
}

.card:hover .cardimag {
  margin-top: -100px;
  border-radius: 20px 20px 0px 0px;
}

.cardimag {
  width: 100%;
  height: 300px;
  background: #146eb0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

.cardimag i {
  font-size: 150px;
  color: #146eb0;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info__description {
  width: 100%;
  height: 250px;
  color: white;
  background: #146eb0;
  padding: 10px;
  margin-top: -250px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
  font-family: monospace;
}

.info__description p {
  font-size: 11px;
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}

.info__description input {
  margin-top: 2px;
  padding: 10px 10px;
  background: orange;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  transition: box-shadow 300ms;
}

.info__description input:hover {
  box-shadow: 1px 1px 30px -5px #20202070;
}

/*COLOR DE LAS CARD*/

.c1:hover .cardimag {
  background: #146eb0;
}

.c1 .cardimag i {
  color: #146eb0;
}

.c1:hover .cardimag i {
  color: #146eb0;
}

.c2:hover .cardimag {
  background: #146eb0;
}

.c2 .cardimag i {
  color: #146eb0;
}

.c2:hover .cardimag i {
  color: #146eb0;
}

.c3:hover .cardimag {
  background: #146eb0;
}

.c3 .cardimag i {
  color: #146eb0;
}

.c3:hover .cardimag i {
  color: #146eb0;
}

/*FIN DE LAS CARD*/

/*STAR*/
.rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  text-transform: capitalize;
  padding: auto;
  color: gray;
}

label {
  float: right;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
}

label::before {
  content: "\2606";
  padding-bottom: 2px;
  display: inline-block;
  transition: 0.2s;
}

span {
  opacity: 1;
  /*position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  text-align: center;
  height: 20px;
  font-size: 12px;
  white-space: nowrap;
  transition: 0.15s ease-out;
  pointer-events: none;
  letter-spacing: -2px;
  transform: translateY(-50%);*/
}

label:hover span {
  opacity: 1;
  transform: none;
  letter-spacing: 0;
}

input:checked ~ label::before {
  content: "\2605";
  color: orange;
  filter: drop-shadow(0 0 4px);
  transform: rotate(0.2turn);
  transition-delay: calc(0.1 * attr(data-idx integer));
}
/*FIN DE STAR*/

.foto {
  border-radius: 50%;
  border: solid #146eb0;
  width: 200px;
  height: 200px;
}

.button {
  padding: 8px;
  border: 2px solid white;
  border-radius: 8px;
  color: #255faa;
  background-color: orange;
  margin: 0 4px;
  font-weight: bold;
  width: 150px;

  &:hover {
    background-color: rgb(182, 131, 37);
  }
}
.button-verde {
  padding: 8px;
  border: 2px solid white;
  border-radius: 8px;
  color: #255faa;
  background-color: green;
  margin: 0 4px;
  font-weight: bold;
  width: 150px;

  &:hover {
    background-color: rgb(29, 59, 26);
  }
}

footer {
  width: 100%;
  height: 150px;
  margin-top: 32px;
}

.caja_footer > a {
  text-decoration: none;
  color: #000;
}

.iconos_redes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icono-container {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.icono-container:hover {
  transform: scale(1.2);
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

a {
  text-decoration: none;
  color: white;
}

.text-area {
  width: max-content;
}

.section-container {
  width: 100%;
  /* height: 700px; */
  margin: 0 auto;
  padding: 56px 16px;
}

img {
  max-width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

li {
  list-style-type: none;
  position: relative;
  padding: 0.625rem 0 0.5rem;
}
li ul {
  flex-direction: column;
  position: absolute;
  background-color: rgb(0, 0, 0);
  align-items: flex-start;
  transition: all 0.5s ease;
  width: 20rem;
  right: -3rem;
  top: 4.5rem;
  border-radius: 0.325rem;
  gap: 0;
  padding: 1rem 0rem;
  opacity: 0;
  box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.material-icons-outlined {
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.material-icons-outlined:hover {
  color: #ff9800;
  transform: scale(1.25) translateY(-4px);
  cursor: pointer;
}

.profile {
  height: 3rem;
  width: auto;
  cursor: pointer;
}

.notification {
  height: 2rem;
  width: auto;
  cursor: pointer;
}

.sub-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.725rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.sub-item:hover {
  background-color: orange;
}

.sub-item:hover .material-icons-outlined {
  color: #ff9800;
  transform: scale(1.08) translateY(-2px);
  cursor: pointer;
}

.sub-item:hover p {
  /*color: #ffffff;*/
  cursor: pointer;
}

.sub-item p {
  font-size: 0.85rem;
  /* color: #ffffff;*/
  font-weight: 500;
  margin: 0.4rem 0;
  flex: 1;
}
/*Navbar*/

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  list-style-type: none;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #000000;
}

.bill_my_code {
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: #080808;
  padding: 16px;
}

.bmcLogo {
  width: 5rem;
}

.centrar {
  display: flex;
  align-items: center;
}

.titulo {
  display: inline-block;
  margin-right: 16px;
  color: white;
  text-decoration: none;
}

.perfil-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.perfil-foto {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
}

.icono {
  width: 24px;
  height: 24px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/*------------------------*/

/*footer*/
footer {
  width: 100%;
  height: 150px;
  align-items: end;
}

.caja_footer > a {
  text-decoration: none;
  color: #000;
}

.iconos_redes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icono-container {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.icono-container:hover {
  transform: scale(1.2);
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

/*--------------------*/
