* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1F2430;
  font-style: arial;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #080808;
  z-index: 2;
  padding: 16px;
}

.logo-container {
  text-align: center;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
}

/* nav {
  display: block;
} */

nav a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-weight: 600;
  font-size: medium;
  font-style: inherit;
  font-family: helvetica;
  letter-spacing: 2px;
}

nav a:hover {
  color: #255faa;
}

.section-container {
  width: 70%;
  /* height: 700px; */
  margin: 0 auto;
  padding: 56px 16px;

}

.section-container h2 {
  padding: 16px 0 0 0;
}

.seccion-1 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 700px;
  margin-top: 0;
}

.seccion-1 img {
  width: 50%;
  max-width: 500px;
  padding: 0 16px;
}

button {
  padding: 8px;
  border: 2px solid white;
  border-radius: 8px;
  color: #255faa;
  background-color: orange;
  margin: 0 4px;
  font-weight: bold;
  width: 150px;


  &:hover {
    background-color: rgb(182, 131, 37);
  }
}

.div-button {
  width: 100%;
  text-align: center;
  color: #255faa;
}

.c-section__title {
  color: #fff;
  Font-family: helvetica;

}

.c-section__title2 {
  color: #fff;
  text-align: center;
  font-size: 180%;
  margin-top: 16px;
}

.seccion-2 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.seccion-2 img {
  width: 50%;
  max-width: 600px;
  padding: 0 16px;
}

.equipo2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border-radius: 18px;
  justify-content: center;
  box-shadow: 2px 2px 25px rgb(11, 121, 172);
  color: black;
  background-color: rgb(206, 202, 202);
 
}

.t-empresa2 {
  font-size: 20px;
}

.caja-equipo {
  font-family: "Consolas", "monaco", monospace;
  font-style: italic;

}

.caja-equipo h3 {
  padding: 14px;
}

.title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  font-style: helvetica;
}


.seccion-3 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.seccion-3 img {
  width: 35%;
  max-width: 600px;
  padding: 0;
}

.equipo3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  box-shadow: 2px 2px 25px rgb(11, 121, 172);
  color: black;
  background-color: rgb(206, 202, 202);
  margin: 0 auto;
  border-radius: 18px;
  justify-content: center;

}

.t-empresa3 {
  font-size: 20px;
}

.seccion-4 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.seccion-4 img {
  width: 40%;
  max-width: 600px;
  padding: 0;
}

.equipo4 {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  box-shadow: 2px 2px 25px rgb(11, 121, 172);
  color: black;
  background-color: rgb(206, 202, 202);
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
}

.t-empresa4 {
  font-size: 20px;
}

.equipo5 {
  font-style: normal;
  box-shadow: 2px 2px 25px rgb(11, 121, 172);
  color: black;
  background-color: rgb(206, 202, 202);
  margin: 0 auto;
  border-radius: 18px;
  border: 1px solid #013b73;
  text-align: center;

}

.equipo5 div {
  display: block;
}

.t-empresa5 {
  font-size: 20px;
}


footer {
  width: 100%;
  height: 150px;
}

.caja_footer>a {
  text-decoration: none;
  color: #000;
}

.iconos_redes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icono-container {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.icono-container:hover {
  transform: scale(1.2);
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.c-section__paragraph {
  color: white;
}

body {
  line-height: 1;
}

.logo-container2 img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

#carouselExample{
  max-width: 800px;
  margin: 0 auto; 
}

.carousel-inner{
  height: 500px;
}

.carousel-item{
  height: 100%;
}

.boton-carrusel{
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next  {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  height: 50px;
  width: 50px;
  margin: auto 0;
}

a {
  text-decoration: none;
  color: white;
}

.text-area{
  width: max-content;
}