* {
  margin: 0px;
  padding: 0;
  text-align: justify;
}
body {
  font-family: monospace;
  color: rgb(255, 255, 255);
  background-color: #1f2430;
}

a {
  text-decoration: none;
  color: white;
}

.text-area {
  width: max-content;
}

.section-container {
  width: 100%;
  /* height: 700px; */
  margin: 50px;
  padding: 56px 16px;
}

h4 {
  text-align: center;
}
/*Navbar*/

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  list-style-type: none;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #000000;
}

.bill_my_code {
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: #080808;
  padding: 16px;
}

.bmcLogo {
  width: 5rem;
}

.centrar {
  display: flex;
  align-items: center;
}

.titulo {
  display: inline-block;
  margin-right: 16px;
  color: white;
  text-decoration: none;
}

.perfil-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.perfil-foto {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
}

.icono {
  width: 24px;
  height: 24px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
 .containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/*------------------------*/

/*footer*/
footer {
  width: 100%;
  height: 150px;
  align-items: end;
}

.caja_footer > a {
  text-decoration: none;
  color: #000;
}

.iconos_redes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icono-container {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.icono-container:hover {
  transform: scale(1.2);
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

/*--------------------*/
.equipo2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 18px;
  justify-content: center;
  box-shadow: 2px 2px 25px rgb(11, 121, 172);
  color: black;
  background-color: rgb(206, 202, 202);

}