* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}

body {
  font-family: monospace;
  color: #fff;
  background-color: #1f2430;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px -5px;
}

.noticia {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(5, 47, 237, 0.3);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #fff;
  background-color: #263043;
  flex: 1;
}
.titulo {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.noticia:hover {
  transform: translateY(-5px);
}

.titulo {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.imagen {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.contenido {
  font-size: 14px;
}

.horaSubida {
  color: #ccc;
  margin-top: 10px;
}

/*Navbar*/

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  list-style-type: none;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #000000;
}

.bill_my_code {
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: #080808;
  padding: 16px;
}

.bmcLogo {
  width: 5rem;
}

.centrar {
  display: flex;
  align-items: center;
}

.titulo {
  display: inline-block;
  margin-right: 16px;
  color: white;
  text-decoration: none;
}

.perfil-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.perfil-foto {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
}

.icono {
  width: 24px;
  height: 24px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/*------------------------*/

/*footer*/
footer {
  width: 100%;
  height: 150px;
  align-items: end;
}

.caja_footer > a {
  text-decoration: none;
  color: #000;
}

.iconos_redes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icono-container {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.icono-container:hover {
  transform: scale(1.2);
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

/*--------------------*/



