<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="es">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="shortcut icon" href="/images/billmycodelogosimp.png">
    <title>Crear Cuenta</title>
<body>
<header>
    <div class="logo-container">
        <a onclick="javascript:history.back()">
            <img src="/images/billmycodelogo.png" alt="logo de empresa">
        </a>
    </div>
    <nav>
        <a href="#seccion-2">UNITE A BILL MY CODE</a>
    </nav>
</header>

<div id="contenedor">
    <div id="central">
        <div id="accounts">
            <div class="titulo">
                <div>
                    <img src="/images/billmycodelogo.png" alt="logo de empresa">
                </div>
                <div>
                    <h4> CREA TU CUENTA CONTADOR </h4>
                </div>
                <form id="accountsform"
                      th:action="@{/thymeleaf/create-accountants}"
                      method="POST"
                      enctype="multipart/form-data">
                    <div class="alert alert-danger" id="errorCard" th:if="${error != null}" th:text="${error}">
                    </div>
                    <div class="alert alert-success" id="successCard" th:if="${exito != null}" th:text="${exito}">
                    </div>
                    <input type="text" name="nombre" placeholder="Nombres" required>

                    <input type="text" name="apellido" placeholder="Apellido" required>

                    <div th:replace="/fragments/select-genero.html :: select-genero"></div>

                    <div th:replace="/fragments/select-country :: select-country-create"></div>

                    <input type="date" id="start" name="fechaNacimiento" value="fecha" min="1920-01-01" max="2005-12-31"
                           class="form-control">

                    <input type="text" name="telefono" placeholder="Telefono" required class="form-control">

                    <input type="text" name="email" placeholder="E-Mail" required class="form-control">


                    <input type="number" name="matricula" placeholder="Matricula" required>

                     <select id="gdes" name="especializacion" class="form-control">
                      <option value="" disabled selected>Especializaciones</option>
                      <option value="Contabilidad financiera">Contabilidad financiera</option>
                      <option value="Contabilidad Fiscal">Contabilidad Fiscal</option>
                      <option value="Contabilidad Analitica">Contabilidad Analitica</option>
                      <option value="Contabilidad administrativa">Contabilidad administrativa</option>
                      <option value="Auditoria">Auditoria</option>
                    </select>

                    <input type="number" name="honorarios" placeholder="Honorarios" required>

                    <input
                            type="password"
                            placeholder="Contraseña"
                            name="password"
                            required
                            class="form-control"
                            minlength="6"
                    />

                    <input
                            type="password"
                            placeholder="Confirmar Contraseña"
                            name="newpassword"
                            required
                            class="form-control"
                            minlength="6"
                    />
                    <!--<textarea rou=3 class="text-area" name="comments" placeholder="Comentario"></textarea>-->

                    <!-- <input type="text" name="status" placeholder="Status" required> -->

                    <!-- <input type="text" name="reputacion" placeholder="Reputacion" required> -->

                    <label class="form-label" for="customFile"><p style="color: rgb(255, 255, 255)">SUBA SU FOTO
                        AQUI</p></label>
                    <input type="file" class="form-control" id="customFile" name="archivo"/>


                    <button class="button" type="submit">CREAR CUENTA</button>
                </form>
            </div>
            <div class="inferior">
                <!--<a th:href="@{/thymeleaf/select-user}">VOLVER</a>-->
                <a href="javascript:history.back()">VOLVER</a>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>