<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>utilizacion de datos calculadora</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/selectcalculator.css">
  <link rel="shortcut icon" href="/images/billmycodelogosimp.png">

</head>

<body>
<navbar>
  <nav class="navbar bill_my_code" data-bs-theme="dark">
    <div class="logo-container">
      <a th:href="@{/thymeleaf/principal-developers}">
        <img class="bmcLogo" src="/images/billmycodelogo.png" alt="logo de empresa">
      </a>
    </div>
    <nav class="header-nav centrar">
      <div class="alert alert-danger" id="mensaje" th:if="${mensaje != null}" th:text="${mensaje}">
        <a class="button" th:value="Contacta a contador: ${logueado.accountant.apellido}"></a>

      </div>
      <div class="perfil-menu">

        <div class="containers me-3">
          <div class="nombres">
            <span class="nombre" th:text="${logueado.nombre}">Raúl</span>
            <span class="apellido" th:text="${logueado.apellido}">Gómez</span>
          </div>
          <div class="formacion">
            <span th:if="${logueado.rol.toString() == 'DEV'}" class="especialidad" th:text="${logueado.especialidad}" >Full Stack</span>
            <span th:if="${logueado.rol.toString() == 'DEV'}" class="seniority" th:text="${logueado.seniority}" >Junior</span>
            <span th:if="${logueado.rol.toString() == 'ACCOUNTANT'}" class="especializacion" th:text="${logueado.especializacion}">Full Stack</span>
          </div>
        </div>
        <img
                class="perfil-foto"
                th:src="@{/api/imagen/perfil-usuario/__${logueado.id}__}"
                alt="foto de perfil"
        />
        <div class="dropdown">
          <button class="dropdown-button">
            <!-- <img
                     class="icono"
                     src="/images/billmycodelogosimp.png"
                     alt="icono menu"
             />-->
            <div>Menu</div>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 th:href="@{/thymeleaf/user/baja/{id}/{rol}/{dir}(id=${logueado.id}, rol=${logueado.rol}, dir='card-accountant')}">
                <img
                        class="icono"
                        src="/images/borrar-cuenta.png"
                        alt="icono volver"
                />
                Dar de baja
              </a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/thymeleaf/user/edit/{id}(id=${logueado.id})}">
                <img
                        class="icono"
                        src="/images/update.png"
                        alt="icono volver"
                />
                Editar Perfil
              </a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/logout}">
                <img
                        class="icono"
                        src="/images/logout.png"
                        alt="icono logout"
                />
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>


      </div>
    </nav>
  </nav>
</navbar>

  <div id="contenedor">
    <div id="central">
      <div id="accounts">
        <div class="titulo">
          <div>
            <img src="/images/billmycodelogo.png" alt="logo de empresa">
          </div>
          <h4>
            QUE DATOS TE GUSTARIA USAR
          </h4>
        </div>
        <form id="accountsform"> 
          <div class="div-button">

                <button class="button">
                  <a th:href='@{/calculadora/calculadoraCargado}'>GUARDADOS</a>
                </button>
              </div>
              <div class="div-button">
                <button class="button">
                  <a th:href='@{/calculadora/answerTwoNewData}'>NUEVOS</a>
                </button>
              </div>
              <!-- <div class="div-button">
                <button class="button">
                  <a href="crear-cuenta-empresa.html">EMPRESA</a> 
                </button>
              </div> -->
        </form>
      </div>
      <div class="inferior">
        <a th:href='@{/}'>VOLVER</a>
      </div>
    </div>
  </div>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  </body>
</body>
</html>