<footer>
    <div id="seccion-7" class="caja_footer div-icono_container">
      <div class="iconos_redes">
        <a href="https://www.instagram.com/billmycode/" target="_blank"><img class="icono-container"
            src="assets/images/Instagram-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100092744287858" target="_blank"><img class="icono-container"
            src="assets/images/Facebook-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
        <a href="https://twitter.com/Billmycode" target="_blank"><img class="icono-container"
            src="assets/images/Twitter-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
        <a href="https://www.linkedin.com/in/billmycode-argentina-24a260277/" target="_blank"><img class="icono-container"
            src="assets/images/Linkedin-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
        <a href="https://www.youtube.com/channel/UCdSb_S1SlZYujcly6ohSXzA" target="_blank"><img class="icono-container"
            src="assets/images/YouTube-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
        <a href="https://www.whatsapp.com/" target="_blank"><img class="icono-container"
            src="assets/images/WhatsApp-Splash-Icon-PNG-S-09idfd.png" alt=""></a>
      </div>
    </div>
    <div class="caja_footer copyright">
        <h6>Todos los derechos reservados. Copyright 2023</h6>
    </div>
</footer>